.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}

/* because of this media querry the burger is not always centered
@media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
} */